body, html
{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family:'Karla', sans-serif;
    line-height: 1.8em;
    font-weight: 400;
    color: #666;
}
.img1,.img2,.img3
{
    position: relative;
    opacity:0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img1
{
    background-image: url('../Images/img1.jpg');
    min-height:100%;
}
.img2
{
    background-image: url('../Images/img2.jpg');
    min-height:400px;
}
.img3
{
    background-image: url('../Images/img3.jpg');
    min-height:400px;
}
.section
{
    text-align: center;
    padding: 50px 80px;
}
.sec1
{
    background-color: #f4f4f4;
    color: #666;
}

.sec2
{
    background-color: #282e34;
    color: #ddd;
}
.txt
{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform:uppercase;
}
.txt .border
{
    background-color: #111;
    color: #fff;
    padding: 20px;

}
.txt .border.trans{
    background-color: transparent;
}